@import '../../../styles/palette';
@import '../../../styles/native-variables';

/deep/ .page-style {
  background-color: darken($pa-ultra-light-grey, 5);
}

.search-product-container {
  margin: $default-spacing;
  .search-illustration {
    margin-bottom: $default-spacing;
  }
  .information {
    font-size: 16;
    color: $pa-dark-grey;
    text-align: center;
  }
  .form {
    margin-top: $x-small-spacing / 2;
    .input-border {
      border-width: 2;
      border-color: darken($pa-ultra-light-grey, 12);
      border-radius: 4 0 0 4;
      border-right-color: transparent;
      margin-right: 0;
    }
  }
  .additional-information {
    font-size: 16;
    color: $pa-dark-grey;
    text-align: center;
    margin: $x-small-spacing / 2 0;
  }
  .search-button {
    border-radius: 0 4 4 0;
    height: 58;
    margin-left: 0;
    margin-right: 0;
    font-size: 24;
    android-elevation: 0;
  }
  .scan-button {
    width: 300;
  }
}
