@import '../../../../styles/palette';
@import '../../../../styles/native-variables';

.step-item {
  user-select: none;
  .timeline-element {
    width: auto;
    min-width: $large-spacing * 1.5 + 2;
    .step-indicator {
      width: $large-spacing * 1.5;
      height: $large-spacing * 1.5;
      border-radius: 50%;
      padding: $small-spacing / 4;
      background-color: $pa-ultra-light-grey;
      border-width: 1;
      border-color: darken($pa-ultra-light-grey, 12);
      &.finished {
        background-color: map_get($pa-green, 200);
        border-width: 1;
        border-color: map_get($pa-green, 500);
      }

      &.in-progress {
        background-color: map_get($pa-green, 400);
        border-width: 1;
        border-color: map_get($pa-green, 700);
      }
    }
    .step-link {
      background-color: darken($pa-ultra-light-grey, 12);
      width: 1;
      min-height: $large-spacing;
      flex: 1;

      &.no-link {
        display: none;
      }

      &.no-link-soft {
        background-color: transparent;
      }

      &.finished {
        background-color: map_get($pa-green, 500);
      }
    }
  }
  .step-description {
    min-height: 3 * $large-spacing + $small-spacing / 4;
    padding: $small-spacing / 2 $small-spacing / 2 $small-spacing / 2 $small-spacing;
    .step-description-content {
      border-width: 1;
      border-color: $pa-light-grey;
      border-radius: $small-spacing / 4;
      padding: $small-spacing / 2;
    }
  }
}
