<div class="timeline-container">
  <div class="step-item"
       *ngFor="let step of stepList;let i=index">
    <div class="step-indicator"
         (click)="toggleInfo(step.id)"
         [ngClass]="{
           'finished': step.status === 'finished',
           'in-progress': step.status === 'producing' || step.status === 'waiting_goods'
         }">
      {{step.defaultProductionStep.name}}
    </div>
    <div class="step-link"
         [ngClass]="{
           'no-link': i === stepList.length - 1 && !additionalInfo[step.id]['displayInfo'],
           'no-link-soft': i === stepList.length - 1 && additionalInfo[step.id]['displayInfo'],
           'finished': step.status === 'finished'
         }">
      <div class="step-description" *ngIf="additionalInfo[step.id]['displayInfo']">{{step | json}}</div>
    </div>
  </div>
</div>
