@import '../../styles/palette';
@import '../../styles/native-variables';

.page-layout {
  background-color: $pa-grey;
  justify-content: center;
  StackLayout {
    background-color: $pa-ultra-light-grey;
    margin: $default-spacing;
    padding: $x-small-spacing;
    .custom-margin {
      margin-left: 15;
    }
    .activity-indicator {
      margin-left: $small-spacing / 2;
      color: map_get($pa-green, 500);
    }
    Label {
      color: map_get($pa-green, 500);
    }
    Button {
      width: 40%;
      &.btn-outline {
        width: 40% - 2;
      }
    }
    .spacing-bottom {
      margin-bottom: $small-spacing;
    }
    .input-border {
      border-color: $pa-light-grey;
    }
  }
}
