@import '../../../../styles/palette';
@import '../../../../styles/native-variables';

/deep/ .page-style {
  background-color: darken($pa-ultra-light-grey, 5);
}

.product-details-container {
  .card {
    background-color: lighten($pa-ultra-light-grey, 5);
    border-radius: $small-spacing / 4;
    border-color: map_get($pa-green, 200);
    border-width: 1;
    padding: $small-spacing;
    margin-top: $small-spacing / 2;
    margin-left: $small-spacing;
    margin-right: $small-spacing;
    &:last-of-type {
      margin-bottom: $small-spacing / 2;
    }
    .row {
      margin-bottom: $small-spacing / 2;
    }
    .label {
      color: $pa-grey;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14;
    }
    .content {
      color: $pa-dark-grey;
      margin-left: $small-spacing / 2;
      font-size: 14;
      &.important {
        font-weight: 600;
        font-size: 16;
      }
    }
    .meta {
      margin-left: $small-spacing / 2;
      color: $pa-light-grey;
      font-size: 12;
    }
  }
}
.error-container {
  margin: $small-spacing / 2 $small-spacing;
  .text {
    color: $pa-grey;
  }
  .spacing-bottom {
    margin-bottom: $small-spacing;
  }
}
