<GridLayout [rows]="'*'">
  <ActivityIndicator [row]="0"
                     [busy]="loading"
                     [color]="'#86c232'"
                     [width]="80"
                     [height]="80"></ActivityIndicator>
  <FlexboxLayout [row]="0"
                 [flexDirection]="'column'"
                 *ngIf="!loading && !errorNotFound"
                  class="search-product-container">
    <ScrollView>
      <StackLayout>
        <FlexboxLayout class="card"
                       [flexDirection]="'row'"
                       [alignItems]="'center'"
                       [justifyContent]="'flex-start'">
          <Label [text]="'Product:'" class="label"></Label>
          <Label [text]="product?.name" [textWrap]="true" class="content important"></Label>
        </FlexboxLayout>
        <FlexboxLayout class="card"
                       [flexDirection]="'column'">
          <GridLayout [columns]="'3*,7*'" class="row">
            <Label [col]="0"
                   [text]="'Identifier:'"
                   [textWrap]="true" class="label"></Label>
            <Label [col]="1"
                   [text]="product?.publicIdentifier"
                   [textWrap]="true" class="content"></Label>
          </GridLayout>
          <GridLayout [columns]="'3*,7*'" class="row">
            <Label [col]="0"
                   [text]="'Type:'"
                   [textWrap]="true" class="label"></Label>
            <StackLayout [col]="1">
              <Label [text]="product?.productType?.name"
                     [textWrap]="true" class="content"></Label>
              <Label [text]="product?.productType?.description ? product?.productType?.description : '-'"
                     [textWrap]="true" class="meta"></Label>
            </StackLayout>
          </GridLayout>
          <GridLayout [columns]="'3*,7*'" class="row">
            <Label [col]="0"
                   [text]="'Production date:'"
                   [textWrap]="true" class="label"></Label>
            <Label [col]="1"
                   [text]="formatDate(product?.productionDate)"
                   [textWrap]="true" class="content"></Label>
          </GridLayout>
          <GridLayout [columns]="'3*,7*'" class="row">
            <Label [col]="0"
                   [text]="'Status:'"
                   [textWrap]="true" class="label"></Label>
            <Label [col]="1"
                   [text]="product?.status"
                   [textWrap]="true" class="content"></Label>
          </GridLayout>
          <GridLayout [columns]="'3*,7*'" class="row">
            <Label [col]="0"
                   [text]="'Validity term:'"
                   [textWrap]="true" class="label"></Label>
            <Label [col]="1"
                   [text]="formatValidity(product?.validityTermQuantity, product?.validityTermUnit)"
                   [textWrap]="true" class="content"></Label>
          </GridLayout>
        </FlexboxLayout>
        <FlexboxLayout class="card"
                       [flexDirection]="'row'"
                       [alignItems]="'center'"
                       [justifyContent]="'flex-start'">
          <Label [text]="'TIMELINE:'" class="label"></Label>
        </FlexboxLayout>
      </StackLayout>
    </ScrollView>
  </FlexboxLayout>
  <FlexboxLayout [row]="0"
                 [flexDirection]="'column'"
                 [justifyContent]="'center'"
                 *ngIf="!loading && errorNotFound"
                 class="error-container">
    <Label [text]="'Looks like the product you looking for, doesn\'t exists.'"
           [textAlignment]="'center'"
           [textWrap]="true"
           class="spacing-bottom"></Label>
    <Image src="res://not_found" class="spacing-bottom"></Image>
    <Button [text]="'Go to product search'"
            class="btn btn-primary"
            (tap)="goToSearch()"></Button>
  </FlexboxLayout>
</GridLayout>
