<div class="root-container">
  <mat-toolbar class="toolbar">
    <div class="mat-h1 title" routerLink="/">Products authenticity</div>
    <div class="right-container">
      <a routerLink="/main/search-history"
         routerLinkActive="active">
        SEARCH HISTORY
      </a>
      <div class="user-details" [matMenuTriggerFor]="userMenu">
        <div class="user-placeholder" *ngIf="userLoading"></div>
        <div class="user-detail-container" *ngIf="!userLoading">
          <div class="mat-body-strong no-spacing-bottom">{{user.firstName}} {{user.lastName}}</div>
          <div class="mat-caption no-spacing-bottom">{{user.username}}</div>
        </div>
        <mat-icon [color]="'primary'" class="user-badge">account_circle</mat-icon>
      </div>
    </div>
  </mat-toolbar>
  <mat-menu #userMenu="matMenu" [xPosition]="'before'">
    <div mat-menu-item [disableRipple]="true" class="menu-item disable-click">
      <mat-icon>email</mat-icon>
      <div class="menu-item-details">
        <div class="mat-caption">Email:</div>
        <div class="mat-body">{{user?.email ? user?.email : '-'}}</div>
      </div>
    </div>
    <div mat-menu-item [disableRipple]="true" class="menu-item disable-click">
      <mat-icon>account_balance_wallet</mat-icon>
      <div class="menu-item-details">
        <div class="mat-caption">Blockchain account:</div>
        <div class="mat-body">{{user?.blockChainAccount ? user?.blockChainAccount : '-'}}</div>
      </div>
    </div>
    <div mat-menu-item [disableRipple]="true" class="menu-item disable-click">
      <mat-icon>account_balance</mat-icon>
      <div class="menu-item-details">
        <div class="mat-caption">Parent entity:</div>
        <div class="mat-body">{{user?.parentEntityId && user?.parentEntity ? user?.parentEntityId + ' - ' + user?.parentEntity?.name : '-'}}</div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item class="menu-item" (click)="logOutUser()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
  <div class="render-container">
    <router-outlet></router-outlet>
  </div>
</div>
